<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.krake.gamequiz">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application tools:ignore="ManifestResource">
        <activity
            android:name=".GamesActivity"
            android:label="@string/games"
            android:screenOrientation="@integer/activity_orientation"
            android:windowSoftInputMode="stateUnchanged">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_voice" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayGameActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_play_game"
            android:screenOrientation="portrait"
            android:theme="@style/QuizGameTheme" />
    </application>
</manifest>
