<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="mykrake.com.krakesample">
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <application android:icon="@mipmap/ic_launcher" android:usesCleartextTraffic="true" android:allowBackup="true"
               android:supportsRtl="true" android:theme="@style/AppTheme" android:label="@string/app_name"
               android:name=".KrakeApp">
    <meta-data android:value="@string/facebook_app_id" android:name="com.facebook.sdk.ApplicationId"/>
    <meta-data android:value="@string/google_api_key" android:name="com.google.android.geo.API_KEY"/>
    <meta-data android:value="false" android:name="com.facebook.sdk.AutoLogAppEventsEnabled"/>
    <activity android:screenOrientation="@integer/activity_orientation" android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <meta-data android:value="93" android:name="com.krake.RealmSchemaVersion"/>
  </application>
</manifest>
