<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.krake.test">

    <application
            android:name="androidx.multidex.MultiDexApplication"
            android:theme="@style/Theme.AppCompat"
            tools:ignore="ManifestResource">
        <activity
            android:name=".view.ViewActivity"
            android:screenOrientation="@integer/activity_orientation" />
    </application>
</manifest>
