<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.krake.pdf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="28"
            tools:ignore="ScopedStorage" />

    <application>
        <activity
            android:name=".PDFActivity"
            android:screenOrientation="@integer/activity_orientation"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="ManifestResource" />
    </application>
</manifest>
